backend/n8n/workflows/json/12-portfolio-analysis-batch.json
{
  "name": "Portfolio Analysis Batch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }]
        }
      },
      "id": "trigger_cron_hourly",
      "name": "trigger_cron_hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nnow.setMinutes(now.getMinutes() - 15);\nreturn [{ json: { cutoffTime: now.toISOString() } }];"
      },
      "id": "transform_calc_cutoff_time",
      "name": "transform_calc_cutoff_time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/portfolioImages?aiProcessedAt=is.null&createdAt=lt.{{ $json.cutoffTime }}&select=id,artistId,imageUrl&limit=20&order=createdAt.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "api_supabase_fetch_unprocessed",
      "name": "api_supabase_fetch_unprocessed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json) && $json.length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check_has_images",
      "name": "check_has_images",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/workflow_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"workflow\": \"Portfolio Analysis Batch\", \"event\": \"no_work\", \"created_at\": \"{{ new Date().toISOString() }}\" }"
      },
      "id": "log_no_work",
      "name": "log_no_work",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "=",
        "options": {}
      },
      "id": "split_images",
      "name": "split_images",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL }}/api/trpc/portfolio.reanalyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"json\": {\n    \"imageId\": {{ $json.id }},\n    \"artistId\": {{ $json.artistId }}\n  }\n}"
      },
      "id": "api_trpc_reanalyze_image",
      "name": "api_trpc_reanalyze_image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait_2_seconds_rate_limit",
      "name": "wait_2_seconds_rate_limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate_results",
      "name": "aggregate_results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $json.data ?? [];\nconst processed = items.filter(i => !i.error).length;\nconst failed = items.filter(i => i.error).length;\nreturn [{ json: { processed, failed, total: items.length } }];"
      },
      "id": "transform_count_results",
      "name": "transform_count_results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Ink Connect System <hello@inkconnect.app>\",\n  \"to\": \"{{ $env.ADMIN_ALERT_EMAIL }}\",\n  \"subject\": \"Portfolio Analysis Batch — {{ $json.processed }} processed, {{ $json.failed }} failed\",\n  \"html\": \"<h2>Hourly Portfolio Analysis Report</h2><p>Run time: {{ new Date().toISOString() }}</p><ul><li><strong>Processed:</strong> {{ $json.processed }}</li><li><strong>Failed:</strong> {{ $json.failed }}</li><li><strong>Total:</strong> {{ $json.total }}</li></ul>\"\n}"
      },
      "id": "send_email_batch_summary",
      "name": "send_email_batch_summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/workflow_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": \"Portfolio Analysis Batch\",\n  \"event\": \"batch_complete\",\n  \"processed\": {{ $('transform_count_results').item.json.processed }},\n  \"failed\": {{ $('transform_count_results').item.json.failed }},\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "log_supabase_batch_complete",
      "name": "log_supabase_batch_complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "trigger_cron_hourly": {
      "main": [[{ "node": "transform_calc_cutoff_time", "type": "main", "index": 0 }]]
    },
    "transform_calc_cutoff_time": {
      "main": [[{ "node": "api_supabase_fetch_unprocessed", "type": "main", "index": 0 }]]
    },
    "api_supabase_fetch_unprocessed": {
      "main": [[{ "node": "check_has_images", "type": "main", "index": 0 }]]
    },
    "check_has_images": {
      "main": [
        [{ "node": "split_images", "type": "main", "index": 0 }],
        [{ "node": "log_no_work", "type": "main", "index": 0 }]
      ]
    },
    "split_images": {
      "main": [[{ "node": "api_trpc_reanalyze_image", "type": "main", "index": 0 }]]
    },
    "api_trpc_reanalyze_image": {
      "main": [[{ "node": "wait_2_seconds_rate_limit", "type": "main", "index": 0 }]]
    },
    "wait_2_seconds_rate_limit": {
      "main": [[{ "node": "aggregate_results", "type": "main", "index": 0 }]]
    },
    "aggregate_results": {
      "main": [[{ "node": "transform_count_results", "type": "main", "index": 0 }]]
    },
    "transform_count_results": {
      "main": [[{ "node": "send_email_batch_summary", "type": "main", "index": 0 }]]
    },
    "send_email_batch_summary": {
      "main": [[{ "node": "log_supabase_batch_complete", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ai" }, { "name": "portfolio" }, { "name": "cron" }]
}
